      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Customer</h4>
      </div>
      <div class="modal-body">
<form {{action save on="submit"}} class="form-horizontal">
<table>
<tr><th>Name</th><td>{{input valueBinding="name"}}</td></tr>
<tr><th>Phone</th><td>{{input valueBinding="phone"}}</td></tr>
<tr><th>Email</th><td>{{input valueBinding="email"}}</td></tr>
<tr><th>Date on waiting list</th><td>{{input type="date" valueBinding="date_on_waiting_list"}}</td></tr>
<tr><th>Status</th><td>
{{view Ember.Select
       content=statuses
       optionValuePath="content.value"
       optionLabelPath="content.name"
       value=status
}}
</td></tr>
<tr><th>Local</th><td>
{{view Ember.Select
       content=locals
       optionValuePath="content.value"
       optionLabelPath="content.name"
       value=local
}}
</td></tr>
<tr><th>Location</th><td>{{input valueBinding="location"}}</td></tr>
<tr><th>Credit</th><td>{{input valueBinding="credit"}}</td></tr>
<tr><th>Want</th><td>{{textarea valueBinding="want"}}</td></tr>
<tr><th>Notes</th><td>{{textarea valueBinding="notes"}}</td></tr>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action submit}}>Save changes</button>
      </div>
