      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Customer</h4>
      </div>
      <div class="modal-body">
<form {{action save on="submit"}} class="form-horizontal">
<table>
<tr><th>Phone</th><td>{{input}}</td></tr>
<tr><th>Email</th><td>{{input}}</td></tr>
<tr><th>Date on waiting list</th><td>{{input type="date"}}</td></tr>
<tr><th>Status</th><td>
  <select>
    <option selected="selected" value="1">Ongoing</option>
    <option value="2">Waiting list</option>
    <option value="3">Finished</option>
    <option value="4">On Hold</option>
  </select>
</td></tr>
<tr><th>Local</th><td>
  <select>
    <option selected="selected" value="1">Local</option>
    <option value="0">Out of town</option>
  </select>
</td></tr>
<tr><th>Location</th><td>{{input}}</td></tr>
<tr><th>Credit</th><td>{{input}}</td></tr>
<tr><th>Want</th><td>{{textarea}}</td></tr>
<tr><th>Notes</th><td>{{textarea}}</td></tr>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action submit}}>Save changes</button>
      </div>
