<h1>{{name}}'s customer record</h1>

<div class="row">
  <div class="col-md-4"><h3>Phone</h3></div>
  <div class="col-md-8">{{phone}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Email</h3></div>
  <div class="col-md-8">{{email}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Date on waiting list</h3></div>
  <div class="col-md-8">{{date_on_waiting_list}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Status</h3></div>
  <div class="col-md-8">{{status}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Local</h3></div>
  <div class="col-md-8">{{local}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Location</h3></div>
  <div class="col-md-8">{{location}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Credit</h3></div>
  <div class="col-md-8">{{credit}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Want</h3></div>
  <div class="col-md-8">{{want}}</div>
</div>
<div class="row">
  <div class="col-md-4"><h3>Notes</h3></div>
  <div class="col-md-8">{{notes}}</div>
</div>
